{% extends '_manage.html' %}
{% load static %}

{% block title %}Dashboard{% endblock title %}

{% block accountblock %}
<section class="w-full bg-custom-bg py-10 relative block">
    {% include "includes/messages.html" %}
    <div class="">
        <div class="relative overflow-hidden block">
            <div class="grid items-center gap-7 mb-7 grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
                <div class="flex items-center p-8 bg-white shadow rounded-lg">
                    <div
                        class="inline-flex flex-shrink-0 items-center justify-center h-16 w-16 text-purple-600 bg-purple-100 rounded-full mr-6">
                        <svg width="30" height="30" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                            class="stroke-current text-blue-800 dark:text-gray-800 transform transition-transform duration-500 ease-in-out">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z">
                            </path>
                        </svg>
                    </div>
                    <div>
                        <span class="block text-2xl font-bold">{{user.events.count}}</span>
                        <span class="block text-gray-500">Events</span>
                    </div>
                </div>
                <div class="flex items-center p-8 bg-white shadow rounded-lg">
                    <div
                        class="inline-flex flex-shrink-0 items-center justify-center h-16 w-16 text-purple-600 bg-purple-100 rounded-full mr-6">
                        <svg width="30" height="30" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                            class="stroke-current text-blue-800 dark:text-gray-800 transform transition-transform duration-500 ease-in-out">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z">
                            </path>
                        </svg>
                    </div>
                    <div>
                        <span class="block text-2xl font-bold">{{user.campaigns.count}}</span>
                        <span class="block text-gray-500">campaigns</span>
                    </div>
                </div>
                <div class="flex items-center p-8 bg-white shadow rounded-lg">
                    <div
                        class="inline-flex flex-shrink-0 items-center justify-center h-16 w-16 text-purple-600 bg-purple-100 rounded-full mr-6">
                        <svg width="30" height="30" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                            class="stroke-current text-blue-800 dark:text-gray-800 transform transition-transform duration-500 ease-in-out">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M16 11V7a4 4 0 00-8 0v4M5 9h14l1 12H4L5 9z"></path>
                        </svg>

                    </div>
                    <div>
                        <span class="block text-2xl font-bold">{{user.contributions.count}}</span>
                        <span class="block text-gray-500">Contributions</span>
                    </div>
                </div>
                <div class="flex items-center p-8 bg-white shadow rounded-lg">
                    <div
                        class="inline-flex flex-shrink-0 items-center justify-center h-16 w-16 text-purple-600 bg-purple-100 rounded-full mr-6">
                        <svg width="30" height="30" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                            class="stroke-current text-blue-800 dark:text-gray-800 transform transition-transform duration-500 ease-in-out">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M13 7h8m0 0v8m0-8l-8 8-4-4-6 6"></path>
                        </svg>
                    </div>
                    <div>
                        <span class="block text-2xl font-bold">{{user.ticketorders.count}}</span>
                        <span class="block text-gray-500">Ticket Orders</span>
                    </div>
                </div>
            </div>
            <div class="w-full">
                <div class="py-7 mb-4">
                    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 p-2">
                        <div class="bg-white p-4 rounded-md">
                            <h2 class="text-gray-500 text-lg font-semibold pb-4">Latest Campaigns</h2>
                            <div class="my-1"></div>
                            
                            <table class="w-full text-left table-auto min-w-max">
                                <thead>
                                    <tr>
                                        <th class="p-4 border-y border-blue-gray-100 bg-blue-gray-50/50">
                                            <p
                                                class="block font-sans text-sm antialiased font-normal leading-none text-blue-gray-900 opacity-70">
                                                Campaign
                                            </p>
                                        </th>
                        
                                        <th class="p-4 border-y border-blue-gray-100 bg-blue-gray-50/50">
                                            <p
                                                class="block font-sans text-sm antialiased font-normal leading-none text-blue-gray-900 opacity-70">
                                                Status
                                            </p>
                                        </th>
                                        <th class="p-4 border-y border-blue-gray-100 bg-blue-gray-50/50">
                                            <p
                                                class="block font-sans text-sm antialiased font-normal leading-none text-blue-gray-900 opacity-70">
                                            </p>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for campaign in campaigns %}
                                    <tr>
                                        <td class="p-2 border-b border-blue-gray-50">
                                            <a href="{% url 'campaigns:campaign' campaign_slug=campaign.slug %}" class="flex items-center gap-3">
                                                {% if campaign.image %}
                                                <img src="{{campaign.image.url}}" alt="{{campaign.title}}"
                                                    class="relative inline-block h-12 w-12 !rounded-full border border-blue-gray-50 bg-blue-gray-50/50 object-contain object-center p-1" />
                                                {% else %}
                                                <img src="{% static 'images/global/no-image-available.webp' %}" alt="{{campaign.title}}"
                                                    class="relative inline-block h-12 w-12 !rounded-full border border-blue-gray-50 bg-blue-gray-50/50 object-contain object-center p-1" />
                                                {% endif %}
                                                <p class="block font-sans text-sm antialiased font-bold leading-normal text-blue-gray-900">
                                                    {{campaign.title|truncatewords:2}}
                                                </p>
                                            </a>
                                        </td>
                        
                                        <td class="p-2 border-b border-blue-gray-50">
                                            <div class="w-max">
                                                <div
                                                    class="relative grid items-center px-2 py-1 font-sans text-xs font-bold {% if campaign.status == 'APPROVED' %} bg-green-500/20 text-green-900{% elif campaign.status == 'PENDING' %}bg-amber-500/20 text-amber-900 {% else %}bg-red-500/20 text-red-900{% endif %}  uppercase rounded-md select-none whitespace-nowrap ">
                                                    <span class="">{{campaign.status}}</span>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="p-2 border-b border-blue-gray-50">
                                            <a href="{% url 'campaigns:update-campaign' campaign.slug %}"
                                                class="relative h-10 max-h-[40px] w-10 max-w-[40px] select-none rounded-lg text-center align-middle font-sans text-xs font-medium uppercase text-gray-900 transition-all hover:bg-gray-900/10 active:bg-gray-900/20 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
                                                type="button">
                                                <span class="absolute transform -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2">
                                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                                                        aria-hidden="true" class="w-4 h-4">
                                                        <path
                                                            d="M21.731 2.269a2.625 2.625 0 00-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 000-3.712zM19.513 8.199l-3.712-3.712-12.15 12.15a5.25 5.25 0 00-1.32 2.214l-.8 2.685a.75.75 0 00.933.933l2.685-.8a5.25 5.25 0 002.214-1.32L19.513 8.2z">
                                                        </path>
                                                    </svg>
                                                </span>
                                            </a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        
                            {% if campaigns.count == 5 %}
                            <div class="text-right mt-4">
                                <a href="{% url 'campaigns:manage-campaigns' %}"
                                    class="bg-custom-h hover:bg-custom-h text-white font-semibold py-2 px-4 rounded">
                                    View more
                                </a>
                            </div>
                            {% endif %}
                        </div>
                        <div class="bg-white p-4 rounded-md">
                            <h2 class="text-gray-500 text-lg font-semibold pb-4">Latest Events</h2>
                            <div class="my-1"></div>
                            
                            <table class="w-full text-left table-auto min-w-max">
                                <thead>
                                    <tr>
                                        <th class="p-4 border-y border-blue-gray-100 bg-blue-gray-50/50">
                                            <p class="block font-sans text-sm antialiased font-normal leading-none text-blue-gray-900 opacity-70">
                                                Event
                                            </p>
                                        </th>
                                        
                                        <th class="p-4 border-y border-blue-gray-100 bg-blue-gray-50/50">
                                            <p class="block font-sans text-sm antialiased font-normal leading-none text-blue-gray-900 opacity-70">
                                                Status
                                            </p>
                                        </th>
                                        <th class="p-4 border-y border-blue-gray-100 bg-blue-gray-50/50">
                                            <p class="block font-sans text-sm antialiased font-normal leading-none text-blue-gray-900 opacity-70">
                                            </p>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for event in events %}
                                    <tr>
                                        <td class="p-2 border-b border-blue-gray-50">
                                            <a href="{% url 'events:event-details' event_slug=event.slug %}"
                                                class="flex items-center gap-3">
                                                {% if event.image %}
                                                <img src="{{event.image.url}}" alt="{{event.title}}"
                                                    class="relative inline-block h-12 w-12 !rounded-full border border-blue-gray-50 bg-blue-gray-50/50 object-contain object-center p-1" />
                                                {% else %}
                                                <img src="{% static 'images/global/no-image-available.webp' %}" alt="{{event.title}}"
                                                    class="relative inline-block h-12 w-12 !rounded-full border border-blue-gray-50 bg-blue-gray-50/50 object-contain object-center p-1" />
                                                {% endif %}
                                                <p class="block font-sans text-sm antialiased font-bold leading-normal text-blue-gray-900">
                                                    {{event.title|truncatewords:2}}
                                                </p>
                                            </a>
                                        </td>
                                        
                                        <td class="p-2 border-b border-blue-gray-50">
                                            <div class="w-max">
                                                <div
                                                    class="relative grid items-center px-2 py-1 font-sans text-xs font-bold {% if event.status == 'APPROVED' %} bg-green-500/20 text-green-900{% elif event.status == 'PENDING' %}bg-amber-500/20 text-amber-900 {% else %}bg-red-500/20 text-red-900{% endif %}  uppercase rounded-md select-none whitespace-nowrap ">
                                                    <span class="">{{event.status}}</span>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="p-2 border-b border-blue-gray-50">
                                            <a href="{% url 'events:update-event' event.slug %}"
                                                class="relative h-10 max-h-[40px] w-10 max-w-[40px] select-none rounded-lg text-center align-middle font-sans text-xs font-medium uppercase text-gray-900 transition-all hover:bg-gray-900/10 active:bg-gray-900/20 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
                                                type="button">
                                                <span class="absolute transform -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2">
                                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                                                        aria-hidden="true" class="w-4 h-4">
                                                        <path
                                                            d="M21.731 2.269a2.625 2.625 0 00-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 000-3.712zM19.513 8.199l-3.712-3.712-12.15 12.15a5.25 5.25 0 00-1.32 2.214l-.8 2.685a.75.75 0 00.933.933l2.685-.8a5.25 5.25 0 002.214-1.32L19.513 8.2z">
                                                        </path>
                                                    </svg>
                                                </span>
                                            </a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            {% if events.count == 5 %}
                            <div class="text-right mt-4">
                                <a href="{% url 'events:manage-events' %}" class="bg-custom-h hover:bg-custom-h text-white font-semibold py-2 px-4 rounded">
                                    View more
                                </a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock accountblock %}