{% extends '_manage.html' %}
{% load static %}

{% block title %}{{user.username}}{% endblock title %}

{% block accountblock %}
<section class="w-full bg-custom-bg py-10 relative block">
    {% include "includes/messages.html" %}
    {% if infor %}
      
    
    <div class="flex bg-blue-100 rounded-lg p-4 mb-4 text-sm text-blue-700" role="alert">
        <svg class="w-5 h-5 inline mr-3" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
                d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z"
                clip-rule="evenodd"></path>
        </svg>
        <div>
            {{ infor|safe|escape }}
        </div>
    </div>
    {% endif %}
    <div class="">
        <div class="relative overflow-hidden block">
            <div class="grid items-center gap-7 mb-7 grid-cols-1 sm:grid-cols-2 md:grid-cols-3">
                <div class="flex items-center p-8 bg-white shadow rounded-lg">
                    <div
                        class="inline-flex flex-shrink-0 items-center justify-center h-16 w-16 text-purple-600 bg-purple-100 rounded-full mr-6">
                        <svg width="30" height="30" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                            class="stroke-current text-blue-800 dark:text-gray-800 transform transition-transform duration-500 ease-in-out">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M12 8c-1.657 0-3 .895-3 2s1.343 2 3 2 3 .895 3 2-1.343 2-3 2m0-8c1.11 0 2.08.402 2.599 1M12 8V7m0 1v8m0 0v1m0-1c-1.11 0-2.08-.402-2.599-1M21 12a9 9 0 11-18 0 9 9 0 0118 0z">
                            </path>
                        </svg>
                    </div>
                    <div>
                        <span class="block text-2xl font-bold">R{{wallet.balance}}</span>
                        <span class="block text-gray-500">Balance</span>
                    </div>
                </div>
                
                <div class="flex items-center p-8 bg-white shadow rounded-lg">
                    <div
                        class="inline-flex flex-shrink-0 items-center justify-center h-16 w-16 text-purple-600 bg-purple-100 rounded-full mr-6">
                        <svg width="30" height="30" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                            class="stroke-current text-blue-800 dark:text-gray-800 transform transition-transform duration-500 ease-in-out">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M16 11V7a4 4 0 00-8 0v4M5 9h14l1 12H4L5 9z"></path>
                        </svg>

                    </div>
                    <div>
                        <span class="block text-2xl font-bold">{{contributions|length}}</span>
                        <span class="block text-gray-500">Contributions</span>
                    </div>
                </div>
                <div class="flex items-center p-8 bg-white shadow rounded-lg">
                    <div
                        class="inline-flex flex-shrink-0 items-center justify-center h-16 w-16 text-purple-600 bg-purple-100 rounded-full mr-6">
                        <svg width="30" height="30" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                            class="stroke-current text-blue-800 dark:text-gray-800 transform transition-transform duration-500 ease-in-out">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M13 7h8m0 0v8m0-8l-8 8-4-4-6 6"></path>
                        </svg>
                    </div>
                    <div>
                        <span class="block text-2xl font-bold">{{ticketorders|length}}</span>
                        <span class="block text-gray-500">Ticket Orders</span>
                    </div>
                </div>
            </div>
            <div class="w-full">
                <div class="py-7 mb-4">
                    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 p-2">
                        <div class="bg-white p-4 rounded-md">
                            <h2 class="text-gray-500 text-lg font-semibold pb-4">Latest Contributions</h2>
                            <div class="my-1"></div>

                            <table class="w-full text-left table-auto min-w-max">
                                <thead>
                                    <tr>
                                        <th class="p-4 border-y border-blue-gray-100 bg-blue-gray-50/50">
                                            <p
                                                class="block font-sans text-sm antialiased font-normal leading-none text-blue-gray-900 opacity-70">
                                                Contr. ID
                                            </p>
                                        </th>
                                        <th class="p-4 border-y border-blue-gray-100 bg-blue-gray-50/50">
                                            <p class="block font-sans text-sm antialiased font-normal leading-none text-blue-gray-900 opacity-70">
                                                Amount
                                            </p>
                                        </th>

                                        <th class="p-4 border-y border-blue-gray-100 bg-blue-gray-50/50">
                                            <p
                                                class="block font-sans text-sm antialiased font-normal leading-none text-blue-gray-900 opacity-70">
                                                Status
                                            </p>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for order in contributions|slice:":5" %}
                                    <tr>
                                        <td class="p-4 border-b border-blue-gray-50">
                                            <a href="{{order.get_absolute_url}}" class="block font-sans text-sm antialiased font-normal leading-normal text-blue-gray-900">
                                                {{order.order_number}}
                                            </a>
                                        </td>
                                        <td class="p-4 border-b border-blue-gray-50">
                                            <p class="block font-sans text-sm antialiased font-normal leading-normal text-blue-gray-900">
                                                R{{order.total_amount}}
                                            </p>
                                        </td>
                                        <td class="p-2 border-b border-blue-gray-50">
                                            <div class="w-max">
                                                <div
                                                    class="relative grid items-center px-2 py-1 font-sans text-xs font-bold {% if order.paid == 'PAID' %} bg-green-500/20 text-green-900{% elif order.paid == 'PENDING' %}bg-amber-500/20 text-amber-900 {% else %}bg-red-500/20 text-red-900{% endif %}  uppercase rounded-md select-none whitespace-nowrap ">
                                                    <span class="">{{order.paid}}</span>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>

                            {% if contributions.count == 5 %}
                            <div class="text-right mt-4">
                                <a href="{% url 'campaigns:all-contributions' %}"
                                    class="bg-custom-h hover:bg-custom-h text-white font-semibold py-2 px-4 rounded">
                                    View more
                                </a>
                            </div>
                            {% endif %}
                        </div>
                        <div class="bg-white p-4 rounded-md">
                            <h2 class="text-gray-500 text-lg font-semibold pb-4">Latest Ticket Orders</h2>
                            <div class="my-1"></div>

                            <table class="w-full text-left table-auto min-w-max">
                                <thead>
                                    <tr>
                                        <th class="p-4 border-y border-blue-gray-100 bg-blue-gray-50/50">
                                            <p class="block font-sans text-sm antialiased font-normal leading-none text-blue-gray-900 opacity-70">
                                                Contr. ID
                                            </p>
                                        </th>
                                        <th class="p-4 border-y border-blue-gray-100 bg-blue-gray-50/50">
                                            <p class="block font-sans text-sm antialiased font-normal leading-none text-blue-gray-900 opacity-70">
                                                Amount
                                            </p>
                                        </th>
                            
                                        <th class="p-4 border-y border-blue-gray-100 bg-blue-gray-50/50">
                                            <p class="block font-sans text-sm antialiased font-normal leading-none text-blue-gray-900 opacity-70">
                                                Status
                                            </p>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for order in ticketorders|slice:":5" %}
                                    <tr>
                                        <td class="p-4 border-b border-blue-gray-50">
                                            <a href="{{order.get_absolute_url}}"
                                                class="block font-sans text-sm antialiased font-normal leading-normal text-blue-gray-900">
                                                {{order.order_number}}
                                            </a>
                                        </td>
                                        <td class="p-4 border-b border-blue-gray-50">
                                            <p class="block font-sans text-sm antialiased font-normal leading-normal text-blue-gray-900">
                                                R{{order.total_price}}
                                            </p>
                                        </td>
                                        <td class="p-2 border-b border-blue-gray-50">
                                            <div class="w-max">
                                                <div
                                                    class="relative grid items-center px-2 py-1 font-sans text-xs font-bold {% if order.paid == 'PAID' %} bg-green-500/20 text-green-900{% elif order.paid == 'PENDING' %}bg-amber-500/20 text-amber-900 {% else %}bg-red-500/20 text-red-900{% endif %}  uppercase rounded-md select-none whitespace-nowrap ">
                                                    <span class="">{{order.paid}}</span>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            {% if ticketorders.count > 5 %}
                            <div class="text-right mt-4">
                                <a href="{% url 'events:all-ticket-orders' %}"
                                    class="bg-custom-h hover:bg-custom-h text-white font-semibold py-2 px-4 rounded">
                                    View more
                                </a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock accountblock %}