{% extends '_base.html' %}
{% load static %}

{% block title %}Dribble | Upload{% endblock title %}

{% block content %}
<div class="flex flex-col items-center justify-center space-y-10  mb-16">
    <div class="flex items-center justify-between w-11/12 mx-auto mt-10">
        <div id="reset_form"
            class="relative py-2 px-3 cursor-pointer text-center rounded-md border-[1px] bg-white flex items-center justify-center space-x-2">
            <p class="text-base font-normal">Cancel</p>
        </div>

        <div id="submit_form_btn"
            class="relative py-2 px-3 text-center cursor-pointer rounded-md text-white border-[1px] bg-[#ea4c89] flex items-center justify-center space-x-2">
            <p class="text-base font-normal">Continue</p>
        </div>
    </div>
    {% if form.errors %}
    <div class="space-y-2">
        {% for field in form %}
        {% if field.errors %}
        <li class="text-sm text-red-500 font-normal">
            {{field.name}}: {{ field.errors|striptags }}
        </li>
        {% endif %}
        {% endfor %}
        <div>
            {% endif %}
            <form method='post' enctype="multipart/form-data" class="space-y-7">

                {% csrf_token %}
                <div>
                    <input type="text" name="title" id="id_title" placeholder="Give me a name"
                        class="bg-white h-12 p-3 border-none  outline-none text-2xl font-bold text-[#9199a0]"
                        maxlength="150" required="" />
                </div>
                <div class="relative w-[700px] h-[500px] space-y-5">
                    <div id="file_holder"
                        class="cursor-pointer relative h-full w-full border-2 border-dotted border-[#e7e7e9] rounded-xl">
                        <div
                            class="file_placeholder flex flex-col items-center justify-center p-4 text-center top-0 left-0 bottom-0 right-0 absolute space-y-5">
                            <img src="{% static 'imgs/placeholde.png' %}" atl="placeholder" class="w-20" />
                            <div class="text-[#3d3d4e]">
                                Drag and drop an image, or <span class="text-[#ea4c89]">Browser</span>
                            </div>
                            <div class="text-[#6e6d7a] font-normal text-sm">
                                <span>1600x1200 or higher recommended.</span>
                                <span>Max 10MB each</span>
                                <span>(20MB for videos)</span>
                            </div>
                            <ul class="flex flex-row flex-wrap max-w-[700px]">
                                <li class="py-1 px-6 w-1/2 text-sm text-left font-normal text-[#6e6d7a]">
                                    High resolution images (png, jpg, gif)
                                </li>
                                <li class="py-1 px-6 w-1/2 text-sm text-left font-normal text-[#6e6d7a]">
                                    Videos (mp4, 4:3, &lt;60 secs)
                                    <span
                                        class="p-1 text-center bg-[#ea4c89] text-white rounded-sm text-xs font-medium">
                                        Pro
                                    </span>
                                </li>
                                <li class="py-1 px-6 w-1/2 text-sm text-left font-normal text-[#6e6d7a]">
                                    Animated gifs (4:3, 800x600 - 1600x1200)
                                </li>
                                <li class="py-1 px-6 w-1/2 text-sm text-left font-normal text-[#6e6d7a]">
                                    Only upload media you own the rights to
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <input type="file" name="cover_shot" id="id_cover_shot"
                    accept="image/jpg,image/jpeg,image/pjpeg,image/png,image/apng,image/x-png,image/gif,image/webp"
                    class="w-[0.1px] h-[0.1px] opacity-0 overflow-hidden absolute -z-[1]">
                <div id="additional_files_container" class="w-full space-x-4 flex items-center">
                    <div id="additional_files"
                        class="cursor-pointer w-full h-28 flex items-center justify-center rounded-md border-2 border-dotted text-center">
                        <p class="text-xl text-[#ea4c89]">Add more files(Max 5 additional files)</p>
                    </div>
                </div>
                <input type="file" name="files" size="5" id="id_files" multiple
                    accept="image/jpg,image/jpeg,image/pjpeg,image/png,image/apng,image/x-png,image/gif,image/webp"
                    class="w-[0.1px] h-[0.1px] opacity-0 overflow-hidden absolute -z-[1]" />
                <div class="grid space-y-42">
                    <label for="id_category" class="text-[#9199a0] font-semibold text-base">Shot Category</label>
                    <select name="category" required="" id="id_category"
                        class="w-36 h-auto text-sm text-bold border-none outline-none text-[#9199a0]">
                        <option value="" selected="">---------</option>
                        {% for category in categories %}
                        <option value="{{category.id}}">{{category.title}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="w-[700px] max-w-full grid space-y-2 ">
                    <label for="id_description" class="text-[#9199a0] font-semibold text-xl">Write what went into this
                        shot, and anything else you'd like to mention</label>
                    <textarea type="text" placeholder="ww" name="description" id="id_description"
                        class="resize-y h-32 bg-[#f3f3f4] w-full placeholder:text-xl placeholder:font-bold p-3 border-none focus:outline-none outline-none rounded-md"
                        maxlength="1150">

                </textarea>
                </div>
                <div class="text-center h-12 bg-[#ea4c89] w-[150px] rounded-md cursor-pointer">
                    <input type="submit" value="Upload shot"
                        class="text-white w-full h-full cursor-pointer text-sm font-semibold" />
                </div>

            </form>
        </div>
    </div>
    {% endblock content %}

    {% block javascript %}
    <script>
        var form_file = document.querySelector("#file_holder"),
            shot_file = document.querySelector("#id_cover_shot"),
            additional_files = document.querySelector("#additional_files"),
            files = document.querySelector("#id_files"),
            additional_files_container = document.querySelector("#additional_files_container"),
            form = document.querySelector("form"),
            reset_form = document.querySelector("#reset_form")

        reset_form.onclick = (e) => {
            e.preventDefault()
            form.reset()
            window.location.reload(true);
        }

        additional_files.addEventListener("click", () => {
            files.click()
        })

        form_file.addEventListener("click", () => {
            shot_file.click()

        })

        files.onchange = ({target}) => {
            if (target.files.length === 0) {
                alert("Select atleast 1 file")
            } else {
                if (additional_files) {
                    additional_files_container.removeChild(additional_files)

                    for (var i = 0; i < target.files.length; i++) {
                        console.log(window.URL.createObjectURL(target.files[i]))
                        additional_files_container.innerHTML += `
                        <div id="additional_files" class="cursor-pointer w-28 h-28 flex items-center justify-center rounded-md border-2 border-dotted text-center">
                            <img src="${window.URL.createObjectURL(target.files[i])}" alt="${target.files[i].name}" class="w-full h-full object-cover" />
                        </div>
                    `
                    }

                }
            }

        }

        shot_file.onchange = ({target}) => {
            let file = target.files[0];
            if (file) {
                var file_placeholder = document.querySelector(".file_placeholder")
                if (file_placeholder) {
                    form_file.removeChild(file_placeholder)
                    form_file.innerHTML += `
                <img src="${window.URL.createObjectURL(file)}" alt="${file.name}" class="w-full h-full" id="cover_img"/>
            `
                } else {
                    document.getElementById('cover_img').src = window.URL.createObjectURL(file)
                }


            }
        }

    </script>
    {% endblock javascript %}