{% extends '_base.html' %}
{% load static %}

{% block content %}
{% include "includes/messages.html" %}
<section class="w-full font-sans mt-20 mb-20">

    <div class="container">
        <div class="max-w-xl mx-auto px-4 py-10">
            <div>
                <div class="bg-white rounded-lg p-10 flex items-center shadow justify-between">
                    <div class="text-center">
                        <svg class="mb-4 h-20 w-20 text-green-500 mx-auto" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd"
                                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                clip-rule="evenodd" />
                        </svg>

                        <h2 class="text-2xl mb-4 text-custom-h text-center font-bold">Password reset sent</h2>

                        <div class="text-custom-tertiary mb-8">
                            Thank you. We've emailed you instructions for setting your password. If you don't receive an email, please make sure you've entered the email address 
                            you registered with, and check your spam folder.
                        </div>

                        <button
                            class="w-40 block mx-auto focus:outline-none py-2 px-5 text-white border-custom-h hover:text-custom-h rounded-lg shadow-sm text-center text-custom-tertiary bg-custom-h hover:bg-gray-100 font-medium border"><a href="{% url 'home:home' %}">Back
                                to home</a></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}