{% extends '_manage.html' %}
{% load static %}
{% block title %}Accounts{% endblock title %}


{% block content %}

<section class="w-full py-10 bg-white">
    <div class="p-4">
        <div class="w-full grid mx-auto bg-white space-y-10">
            <div class="w-full grid self-center justify-self-center">
                <div class="relative block w-full mx-auto md:w-6/12">
                    <form method="get" action="{% url 'accounts:accounts' %}">
                        <div class="relative w-full" >
                            <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
                                <svg class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="none" stroke="currentColor"
                                    viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
                                </svg>
                            </div>
                            <input type="search" id="default-search" name="query" {% if query %}value="{{query}}"{% endif %}
                                class="block p-4 pl-10 md:text-base w-full text-sm text-gray-900 outline-none bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500"
                                placeholder="Search e.g Thabiso" required>
                            <button type="submit"
                                class="text-white absolute right-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2">Search</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="grid w-full items-center justify-center sm:grid-cols-2 md:grid-cols-4 gap-7">
                {% if users.count != 0 %}
                    {% for account in users %}
                    <div class="w-64 h-[350px] bg-white">
                        <div class="w-full group duration-500 h-full relative">
                            <div class="w-full h-full overflow-hidden rounded-2xl relative">
                                {% if account.profile_image %}
                                <img src="{{account.profile_image.url}}" alt="{{account.get_full_name}} avatar"
                                    class="w-full h-full object-cover duration-500 group-hover:scale-105 bg-center" />
                                {% else %}
                                <img src="{% static 'images/global/image-no.jpg' %}" alt="no avatar available"
                                    class="w-full h-full object-cover bg-center" />
                                {% endif %}
                                <div class="absolute w-full h-full top-0 bottom-0 bg-[rgba(0,0,0,0.57)]"></div>
                                <div class="absolute bottom-6 left-4 ">
                                    <div class=" text-white">
                                        <h2 class="font-medium text-xl text-white">
                                            {{account.get_full_name}}
                                        </h2>
                                        <p class="text-xs text-[#ccc]">
                                            {{account.occupation}}, {{account.address.province}}
                                        </p>
                                        <div class="mt-4 group">
                                            <a href="{% url 'accounts:user' username=account.username %}"
                                                class="w-20 hover:bg-white hover:text-custom-h border duration-500 text-white border-white rounded-3xl p-2 px-4 text-center cursor-pointer">See
                                                me</a>
                                        </div>
                    
                                    </div>
                                </div>
                            </div>
                            <div class="w-full h-full rounded-2xl"></div>
                        </div>
                    </div>
                    {% endfor %}
                {% else %}
                <div class="w-full">
                    <p class=" text-gray-500 font-normal text-2xl">No people found, try searching another name</p>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>


{% endblock content %}